.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 800px) {
            justify-content: space-around;
        }
    }

    .custom-button {
        @media screen and (max-width: 800px) {
            min-width: unset;
            width: 150px;
            padding: 0px 10px;
        }
    }     

    @media screen and (max-width: 800px) {
        width: 90vw;
        text-align: center;

        .group, .form-input {
            margin: 25px 0;
        }

        margin-bottom: 20px;
    }
}